{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="{% static 'css/components/navbar.css' %}" />
  </head>
  <body>
    {% if user.user_type == 'farmer' %}
    <div class="navbar">
      <a href="{% url 'base:dashboard' %}" class="navbar-button">
        <i class="fa-light fa-house"></i>
      </a>
      <a href="{% url 'base:qr_define_field' %}" class="navbar-button">
        <i class="fa-light fa-qrcode"></i>
      </a>
      <a href="{% url 'base:choose_activity_field' %}" class="navbar-button">
        <img src="{% static 'images/record.svg' %}" alt="" class="image" />
      </a>
      <a href="" class="navbar-button"><i class="fa-light fa-user"></i></a>
    </div>
    {% else %}
    <div class="navbar worker">
      <a href="{% url 'base:dashboard' %}" class="navbar-button">
        <i class="fa-light fa-house"></i>
      </a>
      <a href="" class="navbar-button">
        <img src="{% static 'images/record.svg' %}" alt="" class="image" />
      </a>
      <a href="" class="navbar-button"><i class="fa-light fa-user"></i></a>
    </div>
    {% endif %}
  </body>
</html>
